In [1]:
import shutil
import os
import pandas as pd

__Launching the experiment__

In [2]:
!python3 "../Scripts/Experiment.py"

 1) Computation of TE estimates for each zone
 csv results for each zone will be saved in ../Output_Experiments/exp_data_multi_c1_TE/

	 computing TE for zone1
		 setting lag value at 2
			 computing TE from x to y
			 computing TE from x to z
		 setting lag value at 3
			 computing TE from x to y
			 computing TE from x to z
		 setting lag value at 4
			 computing TE from x to y
			 computing TE from x to z
	 computing TE for zone2
		 setting lag value at 2
			 computing TE from x to y
			 computing TE from x to z
		 setting lag value at 3
			 computing TE from x to y
			 computing TE from x to z
		 setting lag value at 4
			 computing TE from x to y
			 computing TE from x to z
	 computing TE for zone3
		 setting lag value at 2
			 computing TE from x to y
			 computing TE from x to z
		 setting lag value at 3
			 computing TE from x to y
			 computing TE from x to z
		 setting lag value at 4
			 computing TE from x to y
			 computing TE from x to z

 2) Computation of TE estimates on shuffled time series for each zone
 csv results for each zone will be saved in ../Output_Experiments/exp_data_multi_c1_TE_SHUFFLE/

	 computing SHUFFLED TE estimates for zone1
		 setting lag value at 2
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
		 setting lag value at 3
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
		 setting lag value at 4
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
	 computing SHUFFLED TE estimates for zone2
		 setting lag value at 2
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
		 setting lag value at 3
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
		 setting lag value at 4
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
	 computing SHUFFLED TE estimates for zone3
		 setting lag value at 2
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
		 setting lag value at 3
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z
		 setting lag value at 4
			 computing 10 TE SHUFFLED estimates from x to y
			 computing 10 TE SHUFFLED estimates from x to z

 3) Computation of NETE estimates for each zone
 a single csv result for the whole collection of zones will be saved in ../Output_Experiments/Results/df_exp_data_multi_c1.csv

In [3]:
#shutil.rmtree('../Output_Experiments/exp_data_multi_c1_TE/')
#shutil.rmtree('../Output_Experiments/exp_data_multi_c1_TE_SHUFFLE/')
#os.remove('../Output_Experiments/Results/df_exp_data_multi_c1.csv')

__Visualizing the experiment results__

In [4]:
df_results = pd.read_csv("../Output_Experiments/Results/df_exp_data_multi_c1.csv", index_col =0)
df_results.head()

,X,Y,TE_XY,zone,LAG,H1,H2,H3,H4,C1,C2,ETE_XY,p_XY,NETE_XY
0,x,y,0.238126,zone2,2,9.316469,7.772735,5.925526,4.143666,1.781859,1.543733,0.245482,0.0,0.137767
1,x,z,-0.005160,zone2,2,11.186679,7.391277,7.557911,3.767669,3.790242,3.795401,0.008452,0.1,0.002230
2,x,y,0.159102,zone2,3,9.704053,7.771651,6.232638,4.141134,2.091504,1.932402,0.186969,0.0,0.089395
3,x,z,-0.010215,zone2,3,11.189522,7.389239,7.553021,3.762954,3.790067,3.800282,-0.000835,0.4,-0.000220
4,x,y,0.139237,zone2,4,9.989866,7.771467,6.496217,4.138582,2.357636,2.218399,0.163185,0.0,0.069216