In [1]:
import shutil
import os
import pandas as pd

__INPUT DATAFRAMES__

In [2]:
ts_weekly = pd.read_csv('../Input_Data/ts_mob_covid_weekly.csv', index_col = 0)
ts_weekly.head(2)

,prov,N_pop,N_coloc,cases,deaths,contact_rate,short_range_movement,mid_range_movement,Country
2020-09-01,Agrigento,20207.653324,2766.0,11.0,0.0,52.728963,0.636887,0.053147,Italy
2020-09-08,Agrigento,19575.154019,2712.0,37.0,0.0,53.427699,0.652887,0.053515,Italy

In [3]:
ts_daily = pd.read_csv('../Input_Data/ts_mob_covid_daily.csv', index_col = 0)
ts_daily.head(2)

,prov,cases,deaths,short_range_movement,mid_range_movement,Country
2020-09-01,Amstetten,0.0,0.0,0.801479,0.004373,Austria
2020-09-02,Amstetten,0.0,0.0,0.793509,0.006462,Austria

__LAUNCHING THE EXPERIMENT__

The script launches the experimet on 2 Italian provinces of the weekly time-seires collection dataframe.
It can be edited to select different country, provinces and experiment parameters

In [ ]:
!python3 "../Scripts/Experiment.py"

In [5]:
#Uncomment the following lines if you want to run the experiment a second time 
#You may do it if you launch a different experiment by changing the experiment parameters in the script 

shutil.rmtree('../Output_Experiments/exptry_TE/')
shutil.rmtree('../Output_Experiments/exptry_TE_SHUFFLE/')
os.remove('../Output_Experiments/Results/df_exptry.csv')

__VISUALIZING EXPERIMENT RESULTS__

In [4]:
df_results = pd.read_csv("../Output_Experiments/Results/df_exptry.csv", index_col =0)
df_results.head()

,X,Y,TE_XY,zone,LAG,H1,H2,H3,H4,C1,C2,ETE_XY,p_XY,NETE_XY
0,short_range_movement,cases,0.000757,Torino,2,11.121942,7.563331,7.462420,3.903053,3.559368,3.558611,0.010605,0.4,0.002980
1,short_range_movement,deaths,0.006978,Torino,2,11.335786,7.743711,7.631689,4.032636,3.599052,3.592075,0.003345,0.2,0.000929
2,contact_rate,cases,0.099805,Torino,2,10.962499,7.502936,7.462420,3.903053,3.559368,3.459563,0.098552,0.0,0.027688
3,contact_rate,deaths,0.146455,Torino,2,11.165133,7.712535,7.631689,4.032636,3.599052,3.452598,0.152001,0.0,0.042233
4,short_range_movement,cases,0.024546,Torino,3,11.691750,7.834987,7.793003,3.911695,3.881308,3.856763,0.028888,0.3,0.007443