# __Tranfer Entropy Experiments__

In [1]:
import os
import inspect 
import sys 
import shutil

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

from PyCausality.TransferEntropy import *

currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0, parentdir) 
from Modules import utils

__1) Importing Input Data-Set__

In [2]:
path = '../Input_Data/data_multi_c1.csv'
df_input = pd.read_csv(path, index_col = 0)
df_input = df_input[ (df_input["prov"] == "Cagliari") | (df_input["prov"] == "Agrigento")]
df_input

                   x         y       prov
2015-01-01 -1.044597  0.429487  Agrigento
2015-01-08 -0.097144 -0.741543  Agrigento
2015-01-15 -0.845822  0.138426  Agrigento
2015-01-22 -0.148756  1.458704  Agrigento
2015-01-29  0.792601 -0.177841  Agrigento
...              ...       ...        ...
2020-08-27 -1.152909 -0.750476   Cagliari
2020-09-03 -1.729408 -1.359747   Cagliari
2020-09-10 -1.817967 -1.946085   Cagliari
2020-09-17 -1.997991 -0.163167   Cagliari
2020-09-24 -1.404677 -1.712265   Cagliari

[600 rows x 3 columns]

__2) Launching Experiments__

In [9]:
Exp_steps = ["TE", 
             "TE_SHUFFLE", 
             "ETE"]

name_exp = "base"

for exp_step in Exp_steps: 

    utils.pipeline_exp(df_input,
                       name_exp       = name_exp,
                       Input_features = ['x'],
                       Targets        = ['y'],
                       LAGS_          = [2,3,4,5,6,7,8],
                       EXP_step       = exp_step,
                       N_shuffles     = 10,
                       plot_hist      = False,
                       Study_period   = None,
                       FOLD_save      = "../Output_Experiments/")

../Output_Experiments/base_TE/ not constructed
Agrigento
2
	 x - y
3
	 x - y
4
	 x - y
5
	 x - y
6
	 x - y
7
	 x - y
8
	 x - y
Cagliari
2
	 x - y
3
	 x - y
4
	 x - y
5
	 x - y
6
	 x - y
7
	 x - y
8
	 x - y
Agrigento
2
3
4
5
6
7
8
Cagliari
2
3
4
5
6
7
8
0 ['Cagliari' 'x' 'y' 2]
1 ['Cagliari' 'x' 'y' 3]
2 ['Cagliari' 'x' 'y' 4]
3 ['Cagliari' 'x' 'y' 5]
4 ['Cagliari' 'x' 'y' 6]
5 ['Cagliari' 'x' 'y' 7]
6 ['Cagliari' 'x' 'y' 8]
7 ['Agrigento' 'x' 'y' 2]
8 ['Agrigento' 'x' 'y' 3]
9 ['Agrigento' 'x' 'y' 4]
10 ['Agrigento' 'x' 'y' 5]
11 ['Agrigento' 'x' 'y' 6]
12 ['Agrigento' 'x' 'y' 7]
13 ['Agrigento' 'x' 'y' 8]

__3) Visualizing Results Folder__

In [8]:
#clean all experiment results folder
#shutil.rmtree("../Output_Experiments/")
#os.mkdir("../Output_Experiments")

In [10]:
os.listdir("../Output_Experiments")

['base_TE', 'base_TE_SHUFFLE', 'Results']

In [11]:
path_results = "../Output_Experiments/Results/df_" + name_exp + ".csv"
df_results = pd.read_csv(path_results, index_col = 0)
df_results.head()

,X,Y,TE_XY,ETE_XY,prov,p_value_XY,LAG,H1,H2,H3,H4,C1,C2,p_XY,NETE_XY
0,x,y,-0.006554,0.007064,Cagliari,0.0,2,11.453940,7.625303,7.662447,3.840363,3.822083,3.828637,0.3,0.001848
1,x,y,-0.016271,-0.000426,Cagliari,0.0,3,11.493090,7.623661,7.689323,3.836165,3.853158,3.869429,0.6,-0.000111
2,x,y,-0.009500,0.000270,Cagliari,0.0,4,11.507147,7.624900,7.707585,3.834838,3.872747,3.882247,0.5,0.000070
3,x,y,0.016405,0.023657,Cagliari,0.0,5,11.497900,7.628621,7.721578,3.835895,3.885683,3.869278,0.0,0.006088
4,x,y,-0.000726,0.012237,Cagliari,0.0,6,11.511621,7.632101,7.717014,3.838222,3.878793,3.879519,0.0,0.003155